<template>

  <div class="home">
    <Menu/>
    <ProductsSlider/>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import Menu from '@/components/Menu.vue';
import ProductsSlider from '@/components/ProductsSlider.vue';

export default {
  name: "home",
  components: {
	  Menu,
      ProductsSlider
  }
};
</script>
