<template>
	<nav>
		<ul>
			<li v-for="item in categoryList" :key="item.id" >
				<button v-if="item.id == $store.state.activeCategory" class="nav-btn active" type="button" @click="setCategory" :data-id="item.id">{{item.name}}</button>
				<button v-if="item.id != $store.state.activeCategory" class="nav-btn" type="button" @click="setCategory" :data-id="item.id">{{item.name}}</button>
			</li>
		</ul>
	</nav>
</template>

<script>
	export default {
		name: 'Filters',
		computed: {
			categoryList(){
				return this.$store.state.categories
			}
		},
		methods: {
			setCategory(e){
				let id = e.target.dataset.id;
				this.$store.dispatch('setCategory', id);
			}
		},
		mounted(){

		}
	};
</script>

<style scoped lang="sass">
	nav
		margin-bottom: 64px
	ul
		width: 100%
		max-width: 100%
		list-style: none
		display: flex
		flex-wrap: wrap
		justify-content: center
		margin: 0
		padding: 8px 20px

		li
			display: block
			margin: 8px
	button
		text-decoration: none
		text-transform: uppercase
		border: none
		color: #fff
		background: #8a00f4
		padding: 0 16px
		height: 32px
		line-height: 32px
		font-size: 16px
		cursor: pointer
		&.active
			background-color: #f9004c
		&:hover
			opacity: .8

</style>
