<template>
	<nav v-show="menuVisible" >
		<ul>
			<li v-for="item in categoryList" :key="item.id" >
				<button class="nav-btn" type="button" @click="setCategory" :data-id="item.id">{{item.name}}</button>
			</li>
		</ul>
	</nav>
</template>

<script>
	export default {
		name: 'Menu',
		computed: {
			categoryList(){
				return this.$store.state.categories
			},
			menuVisible(){
				return this.$store.state.menuVisible
			}
		},
		methods: {
			setCategory(e){
				let id = e.target.dataset.id;
				this.$store.dispatch('setCategory', id);
				this.$store.commit('menuClose');
			}
		},
		mounted(){}
	};
</script>

<style scoped lang="sass">
	nav
		/*display: none*/
		background: linear-gradient( to left, #8a00f4 0%,  #ff0044 100%)
	ul
		width: 100%
		max-width: 100%
		list-style: none
		display: flex
		flex-wrap: wrap
		justify-content: center
		margin: 0
		padding: 8px 20px

		li
			display: block
			margin: 8px
	button
		text-decoration: none
		background-color: transparent
		text-transform: uppercase
		border: none
		color: #fff
		font-size: 16px
		cursor: pointer
		&:hover
			opacity: .8

</style>
