<template>
	<div class="products">
		<h1>Заголовок раздела</h1>
		<filters/>
		<carousel :perPageCustom="[[320, 1],[768, 2], [1024, 3], [1280, 4], [1920, 5]]" :scrollPerPage=false ref="prod">
			<slide v-for="item in products" :key="item.id">
				<span class="s">
						<span class="i">
							<img :src="item.img" :alt="item.name">
						</span>
					<!-- /.i -->
					<span class="n">{{item.name}}</span>
					<!-- /.n -->
					<span class="p">
						<span>{{item.price}}₽</span>
					</span>
					<!-- /.p -->
				</span>
				<!-- /.s -->
			</slide>
		</carousel>
	</div>
</template>

<script>
	import { Carousel, Slide } from 'vue-carousel';
	import Filters from '@/components/Filters.vue';

	export default {
		name: 'ProductsSlider',
		methods: {},
		computed: {
			products() {
				return this.$store.state.products;
			},
			categoryName() {
				let id = this.$store.state.activeCategory;
				return this.$store.state.categories.filter(cat => {return cat.id == id;})[0].name || 1;
			},
		},
		created: function() {
			this.$store.dispatch('getProducts');
		},
		mounted() {
		},
		components: {
			Filters, Carousel,
			Slide}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">
	.VueCarousel
		max-width: 100%
		margin: auto
		/*padding-left: 40px*/
		/*padding-right: 40px*/
	.VueCarousel-wrapper
		overflow: visible

</style>
<style scoped lang="sass">
	h1
		font-size: 3em
		font-weight: 300
		margin-top: 0
		margin-bottom: 32px
	.products
		margin: 48px auto
		/*max-width: 1400px*/
		width: 100%
		max-width: 100%
		padding: 0
		overflow: hidden

	.s
		display: flex
		flex-direction: column
		align-items: center
		color: #0f1010
	.i
		img
			display: block
			width: 100%
			max-width: 100%
	.n
		font-size: 18px
		margin-top: 32px
		font-family: Helvetica, Arial, Verdana, sans-serif
	.p
		font-size: 30px
		margin-top: 8px
		font-weight: bold
</style>
