<template>
	<div id="app">
		<div class="header">
			<img src="./assets/logo.png">
			<button type="button" title="Меню" @click="menuToggle" :class="{active: buttonState}"><span><img src="./assets/menu.svg" alt=""></span><span><img src="./assets/close.svg" alt=""></span></button>
		</div>
		<router-view/>
	</div>
</template>

<script>
	export default {
		name: "App",
		computed: {
			buttonState(){
				return this.$store.state.menuVisible
			}
		},
		methods: {
			menuToggle(){
				this.$store.commit('menuToggle');
			},

		}
	};
</script>

<style lang="sass">
	body
		margin: 0
		padding: 0
	*
		box-sizing: border-box
		&:after, &:before
			box-sizing: inherit
</style>
<style scoped lang="sass">
	$header_height: 64px
	#app
		font-family: "Avenir", Helvetica, Arial, sans-serif
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		text-align: center
		color: #2c3e50
	.header
		display: flex
		align-items: center
		justify-content: space-between
		padding: 0 20px
		height: $header_height
		border-bottom: 1px solid #ebebeb
		position: relative

	button
		position: relative
		/*right: 48px*/
		width: 40px
		height: 40px
		border: none
		background-color: transparent
		cursor: pointer
		outline: none
		span
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			line-height: 40px
			text-align: center
			transition: opacity .2s ease
			&:nth-child(1)
				opacity: 1
			&:nth-child(2)
				opacity: 0

		&:not(.active)
			span
				&:nth-child(1)
					opacity: 1
				&:nth-child(2)
					opacity: 0
		&.active
			span
				&:nth-child(1)
					opacity: 0
				&:nth-child(2)
					opacity: 1
		img
			display: inline-block
			width: 32px
			height: 32px
			vertical-align: middle
</style>
